@model BeStudent.Web.ViewModels.File.AddNewFileInputModel
@{
    this.ViewData["Title"] = "Add new file";
}

<div class="container">
    <h1 class="mb-2">@this.ViewData["Title"]</h1>

    <form method="post" asp-action="AddNewFile" asp-route-subjectName="@Model.SubjectName" asp-route-homeworkId="@Model.HomeworkId" enctype="multipart/form-data">
        <div>
            <label asp-for="File"></label>
            <input type="file" class="form-control-file" asp-for="File">
        </div>
        <br />
        <div id="fileName" class="form-group">
            <label asp-for="FileDescription">File Description</label>
            <input asp-for="FileDescription" class="form-control" />
            <span asp-validation-for="FileDescription" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>